# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build files
dist/
build/

# Temporary files
tmp/
temp/

backend/config/digital-assets-a8e89-firebase-adminsdk-fbsvc-637a601d76.json